body {
  background-color: #0059b3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #ffd200;
}

a:hover {
  text-decoration: none;
  color: rgb(145, 145, 240) !important;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}
